@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
  }
}

@layer base {
  body {
    @apply antialiased bg-[#0B1121] text-gray-100;
  }
}

@layer utilities {
  .glassmorphic {
    @apply backdrop-blur-lg bg-gray-900/50 border border-gray-800;
  }

  .animate-arrow {
    animation: arrow 2s ease-in-out infinite;
  }
}

@keyframes arrow {
  0% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(-4px);
  }
} 